<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="init.project.domain.users.repository.UserAccountRepository">

    <select id="findById" resultType="init.project.domain.users.model.UserAccount">
        SELECT USER_ID,
               EMAIL,
               PASSWORD,
               USER_ROLE
        FROM TB_USER_ACCOUNT
        WHERE USER_ID = #{userId}
          AND DEL_YN = 'N'
    </select>

    <select id="findByEmail" resultType="init.project.domain.users.model.UserAccount">
        SELECT USER_ID,
               EMAIL,
               PASSWORD,
               USERNAME,
               USER_ROLE
        FROM TB_USER_ACCOUNT
        WHERE EMAIL = #{email}
          AND DEL_YN = 'N'
    </select>

    <insert id="save">
        INSERT INTO TB_USER_ACCOUNT
            ( EMAIL, PASSWORD, USERNAME )
        VALUES
            ( #{userAccount.email}, #{userAccount.password}, #{userAccount.username} )
    </insert>

</mapper>